html {
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: MidnightBlue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(MidnightBlue, LightBlue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(MidnightBlue, LightBlue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(MidnightBlue, LightBlue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(MidnightBlue, LightBlue); /* Standard syntax (must be last) */
}

.done-task {
    text-decoration: line-through;
}

